@model Kategoriler
@{
    ViewData["Title"] = "KategoriDuzenle";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Kategori Düzenle</h2>

<div class="col-md-4">
    <form action="/admin/kategori/duzenle" method="post">
        <div class="form-group">
            <input type="hidden" name="ID" value="@Model.ID" />
            <label for="Kategori" class="control-label"> Kategori</label>
            <input name="Kategori" value="@Model.Kategori" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Ekle" class="btn btn-default" />
        </div>
    </form>
</div>